.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 100%;
  min-height: 100vh;
}

.splash-title {
  font-size: 3rem;
  margin: 0;
  letter-spacing: 5px;
}

#root {
  max-width: 430px;
  margin: 0 auto;
  width: 80%;
  min-height: 100vh;
  box-sizing: border-box;
}

.app-container {
  height: var(--app-height);
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  overflow-y: auto;
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.app-footer {
  padding-bottom: env(safe-area-inset-bottom);
}
