.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 100%;
  min-height: 100vh;
}

.splash-title {
  font-size: 3rem;
  margin: 0;
  letter-spacing: 5px;
}

#root {
  max-width: 430px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
