.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  min-height: 95vh;
}

.splash-title {
  font-size: 3rem;
  margin: 0;
  letter-spacing: 5px;
}

.App {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
