body {
  margin: 0 auto;
  padding: 16px;
  max-width: 412px;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;
}

h5 {
  margin: 10px 0;
}
