body {
  margin: 24px;
  /* display: flex;
  flex-direction: column; */
  min-width: 320px;
  min-height: 95vh;
  /* justify-content: flex-start;
  align-items: center; */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;
}

h5 {
  margin: 10px 0;
}
